body{
    margin: 0 auto;
    background: rgb(17, 0, 253);
}
h1{
    font-size: 50px;
    padding: 25 px;
    border: double 5px blueviolet;
    color: blueviolet;
}
p{
    font-size: 25px;
    font-weight: bold;
    color: rgb(253, 0, 177);
}