body{
    margin: 0 auto;
    background: rgb(228, 7, 62);
}
h1{
    font-size: 50px;
    padding: 25 px;
    border: double 5px blue;
}
p{
    font-size: 25px;
    font-weight: bold;
    color: white;
}